* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work sans", sans-serif;
}

.container-1 {
    /* border: 1px solid red; */
    background: url("/images/banner/banner1.png");
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: end;
}

.box {
    display: flex;
    justify-content: flex-end;
}

.content {
    /* border: 1px solid red; */
    width: 500px;
    margin-top: 216px;
    margin-right: 230px;
}

.content h1 {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 20px;
}

.content p {
    line-height: 26px;
    color: grey;
    margin-bottom: 20px;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #F15B22;
    padding: 20px 25px;
}

/* section 2 */

.container-2 {
    padding: 0 150px;
    /* border: 2px solid red; */
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-2-image img {
    vertical-align: middle;
}

.section-2-content {
    width: 416px;
    /* border: 1px solid black; */
}

.section-2-content h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 38px;
}

.section-2-content p {
    line-height: 26px;
    color: gray;
    margin-bottom: 38px;
}

.section-2-content ul li {
    list-style: none;
    line-height: 26px;
}

.lists {
    color: gray;
    width: 349px;
}

/* section - 3 */

.section-3 {
    padding-top: 150px;
}

.container-3 {
    /* border: 1px solid black; */
    max-width: 70%;
    margin: 0 auto;
}

.container-3 h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.plan-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 34px;
}

.plan-card {
    /* border: 1px solid red; */
    padding: 10px;
}

.plan-card h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.plan-card p {
    font-size: 25px;
    color: gray;
    font-weight: 500;
    margin: 16px 46px 0;
}

/* section-4 */

.section-4 {
    /* border: 1px solid orange; */
    padding: 130px 0;
}

.card-container {
    /* border: 1px solid red; */
    max-width: 70%;
    margin: 0 auto;
    background: url("/images/gradient2.png"), url("/images/watch.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 55px;
    border-radius: 10px;
}

.card-content {
    max-width: 460px;
    text-align: start;
}

.card-content h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.btn-2 {
    padding: 20px 36px;
    background-color: white;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

/* footer */

footer {
    /* border: 1px solid red; */
    background-color: black;
    color: white;
}

.footer-container {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-around;
    padding: 130px 0;
}

.footer-content {
    max-width: 485px;
    /* border: 1px solid white; */
}

.footer-content h2 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 16px;
}

.footer-content p {
    line-height: 26px;
    margin-bottom: 16px;
    color: gray;
}

.footer-icons {
    padding: 20px 0;
}

.footer-icons img {
    margin: 0 7px;
}

.footer-form h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 31px;
}

.footer-form input {
    background-color: black;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0;
    width: 325px;
}

.btn-3 button{
    padding: 20px 36px;
    background-color: white;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}