* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Work sans", sans-serif;
}

.container-1 {
    /* border: 1px solid red; */
    background: url("/images/banner/banner1.png");
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: end;
}

.box {
    display: flex;
    justify-content: flex-end;
}

.content {
    /* border: 1px solid red; */
    width: 500px;
    margin-top: 216px;
    margin-right: 230px;
}

.content h1 {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 20px;
}

.content p {
    line-height: 26px;
    color: grey;
    margin-bottom: 20px;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #F15B22;
    padding: 20px 25px;
}